* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  color: #7209b7;
}

.bg-hero {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 0 15px;
  background-color: #4895ef;
}

.program-wr {
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
  background-color: #560bad;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 20px 50px -12px rgba(0, 0, 0, 0.2);
}

.field-wr {
  display: flex;
  justify-content: space-between;
}

.field {
  padding: 10px 20px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field__caption {
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}
.field__table {
  margin: 10px;
  height: 400px;
  background-color: #fff;
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
}

.arrows {
  color: white;
  display: flex;
  align-items: center;
  font-size: 40px;
}
.arrows__arrow {
  margin: 5px;
  cursor: pointer;
}

.action-btn-wr {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.program-bottom-wr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: #4895ef;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 120px;
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.432);
  font-weight: 500;
}
.btn--red {
  background-color: #ce4257;
}
.btn p {
  display: block;
}

.switcher-wr {
  display: flex;
  width: 100%;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  position: relative;
}

.switcher {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  border: 3px solid rgba(236, 212, 255, 0.226);
}

.off {
  margin-right: 5px;
}

.on {
  margin-left: 5px;
}

.lol {
  position: absolute;
  height: 100%;
  background-color: #b892ff;
  top: 3px;
  left: 3px;
  width: 89px;
  height: 34px;
  border-radius: 20px;
  transition: all 0.3s;
}

.lol_on {
  -webkit-animation: on 0.5s ease-in forwards;
          animation: on 0.5s ease-in forwards;
}

@-webkit-keyframes on {
  0% {
    width: 89px;
  }
  10% {
    left: 3px;
  }
  50% {
    width: 150px;
  }
  100% {
    left: 108px;
    width: 89px;
  }
}

@keyframes on {
  0% {
    width: 89px;
  }
  10% {
    left: 3px;
  }
  50% {
    width: 150px;
  }
  100% {
    left: 108px;
    width: 89px;
  }
}
.lol_off {
  -webkit-animation: off 0.5s ease-in forwards;
          animation: off 0.5s ease-in forwards;
}

@-webkit-keyframes off {
  0% {
    left: 108px;
    width: 89px;
  }
  50% {
    width: 150px;
  }
  75% {
    left: 3px;
  }
  100% {
    width: 89px;
  }
}

@keyframes off {
  0% {
    left: 108px;
    width: 89px;
  }
  50% {
    width: 150px;
  }
  75% {
    left: 3px;
  }
  100% {
    width: 89px;
  }
}/*# sourceMappingURL=main.css.map */